<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

 

<body>
    <div class="container my-5">
        <h3> Add Employee</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/admin/addemployee}" th:object="${employee}" method="post" enctype="multipart/form-data">
                        <div class="row">
                        <div class="form-group col-md-8">
                                <label for="emp_Id" class="col-form-label">Employee_Id</label> <input type="text" th:field="*{emp_Id}" class="form-control" id="emp_Id" placeholder="emp_Id" required> <span th:if="${#fields.hasErrors('emp_Name')}" th:errors="*{emp_Id}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="emp_Name" class="col-form-label">Employee_Name</label> <input type="text" th:field="*{emp_Name}" class="form-control" id="emp_Name" placeholder="emp_Name" required> <span th:if="${#fields.hasErrors('emp_Name')}" th:errors="*{emp_Name}" class="text-danger"></span>
                            </div>
                            
						<div class="form-group col-md-8">	
					<label class="col-form-label">Deparment Id </label>
					
						<select th:field="*{department}"  required>
							<th:block th:each="cat : ${listDepartment}">
								<option th:text="${cat.dept_Id}" th:value="${cat.dept_Id}"/>
							</th:block>
						</select>
				
				</div>
 

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Add">
                            </div>

 

                            <div class="form-group col-md-8"></div>

 

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

 

</html>