<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Employee Data Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Employee Data Application</h1>




        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
   
<body>
 <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Department</th>
             <th>Photo</th>
            
        </tr>
        <tr th:each="data : ${employee1}">
        
            <td th:text="${data.id}"></td>
            <td th:text="${data.name}"></td>
            <td th:text="${data.contact}"></td>
          <td th:text="${data.dept}"></td>
           <td th:text="${data.image}"></td>
          
        </tr>
    </table>
</body>
    </html>