<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Employee Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
<h1>Award Winners in this month</h1>




        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
   
<body>
 <table class="table">
        <tr>
            <th>Sr_No</th>
            <th>Emp_Id</th>
            <th>Name</th>
            <th>Award_Type</th>
             <th>Photo</th>
            
        </tr>
        <tr th:each="data : ${employee1}">
        
            <td th:text="${data.sr_No}"></td>
           	<td th:text="${data.emp_Id}"></td>
            
            <td th:text="${data.emp_Name}"></td>
            <td th:text="${data.reward_Type}"></td>
 		   <td><img th:src="${'data:image/jpg;charset=utf-8;base64,'+data.image}" width="200"
                                height="250" /></td>          
        </tr>
    </table>
</body>
    </html>